/* -------------------- Comienzo del grid del index -------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}


p{
    padding: 20px;
}


 .grid-container > * {
/*     box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
    border-radius: 4px; */
    padding: 10px;
    text-align: center;
}


.header { 
    grid-area: header;
}


.navbar{
    grid-area: navbar;
    background-color:#888;
}


.main{
    grid-area: main;
    background-color:lightsteelblue;
}


 .footer{
    grid-area: footer;
}

/* Sector de los grids y media queries para desktop / tablet / mobile */

.grid-container {
    display: grid;
    gap: 0px;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "footer";
}


@media (min-width: 250px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 130px 170px auto 300px;
        grid-template-areas: 
        "header header"
        "navbar navbar"
        "main main"
        "footer footer";
    }
}


@media (min-width:768px) {
    .grid-container {
        grid-template-columns: 400px auto;
        grid-template-rows: 170px auto 200px;
        grid-template-areas: 
        "header navbar"
        "main main"
        "footer footer";
    }
}


@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 400px auto;
        grid-template-rows: 100px auto 200px;
        grid-template-areas: 
        "header navbar"
        "main main"
        "footer footer";
    }
}


/* Fin del sector grid-container */

/* -------------------------------------------------------- */

/* Comienzo del sector Header */

.header{
    display: flex;
    justify-content: center;
    background-color: #222;
}


.navbar ul li a{
    display: flex;
    flex-direction: row;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-decoration: none;
    font-size: 130%;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease; 
} 


.navbar ul li a:hover{
    font-size: 26px;
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}


li a{
    color:black;
    font-weight: bold;
}


.links_nav{
    padding-left: 100px;
    padding-right: 100px;
}


/* Fin del sector Navbar / Header */

/* -------------------------------------------------------- */

/* Comienzo del sector footer renovado */

footer{
    background:  #111;
    height: auto;
    padding-top: 40px;
    color: aliceblue;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.footer-content h3{
    font-size: 1,8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}


.footer-content a{
    text-decoration: none;
    color:cadetblue;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}


.socials li{
    margin: 0 10px;
}


.socials a{
    text-decoration: none;
    color: #fff;
}


.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}


.socials a:hover i{
    color: aqua;
}


.footer-bottom{
    background: #000;
    width: 99vw;
/*     padding: 20px 0; */
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/* Fin del sector footer */

/* -------------------------------------------------------- */

/* Comienzo del sector index */

h2{
    background-color:lightblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
}


h2:hover{
    font-size: 35px;
}


.estructura_cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 30px;
}

/* Fin del index */

/* -------------------------------------------------------- */

/* Comienzo del Sector Biografia */

.sector_biografia{
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
    text-align: center;
    line-height: 150%;
}


.autor_biografia{
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
}


.autor_biografia:hover{
    font-size: 40px;
}

/* Fin del sector Biografia */

/* -------------------------------------------------------- */

/* Comienzo del Sector Anecdotas */

.estructura_anecdotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    gap: 30px;
    text-align: center;
    line-height: 150%;
}


h1{
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
    font-style: italic;
}


h1:hover{
    font-size: 50px;
}


/* Fin del sector Anecdotas */

/* -------------------------------------------------------- */

/* Comienzo del Sector Galeria */

.estructura_galeria{
    background-size: cover; 
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    height: auto;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}


.fotos_galeria{
    filter: grayscale(100%);
    transition: 6s;
}


.fotos_galeria:hover{
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    filter: none
}

/* Fin del sector Galeria */

/* -------------------------------------------------------- */

/* Comienzo del Sector Formulario */

.estructura_formulario{
    background-image: url(../images/Atardecer.jpg);
    background-size: cover;
    text-align: center;
}


 .formulario{
    font-family: 'Montserrat', sans-serif;
    line-height: 100px;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
}

.estructura_boton{
    padding: 100px
}


/* Fin del sector Contacto */

/* -------------------------------------------------------- */