$estilos: (
    colorLogosRedes: #fff,
    colorLetrasFormulario: white,
    colorFondoMain: lightsteelblue,
);

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* -------------------------------------------------------- */

/* Comienzo del sector footer renovado */

footer{
    background:  #111;
    height: 250px;
    color: aliceblue;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h3{
        margin-top: 10px;
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    a{
        text-decoration: none;
        color:cadetblue;
        font-size: larger;
    }
}


.footer-content--color{
    @extend .footer-content;
    color:blanchedalmond;
    font-style: italic;
}


.socials{
    @include flex-row-center;
    list-style: none;
    align-items: center;
    margin: 1rem 0 3rem 0;
    scale: 105%;
    li{
        margin: 0 10px;
    }
    a{
        text-decoration: none;
        color: map-get($estilos, colorLogosRedes);
        &:hover i{
            color: aqua;
        }
        i{
            font-size: 1.1rem;
            transition: color .4s ease;
        }
    }
}

/* Fin del sector footer */

/* -------------------------------------------------------- */