/* -------------------------------------------------------- */
/* Comienzo del sector index */

@mixin flex-wrap-space_evenly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.estructura_carousel{
    margin: 15px;
    display: flex;
    justify-content: center;
}


h5{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
    &:hover{
        font-size: 25px;
    }
}


.estructura_cartas{
    @include flex-wrap-space_evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 30px;
    font-size: 105%;
}

.titulos{
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
    &:hover{
        font-size: 35px;
}
}

.textos_carousel{
    font-style: italic;
    font-weight: 500;
}
/* Fin del index */

/* -------------------------------------------------------- */