/* -------------------------------------------------------- */

/* Comienzo del sector Header */

.header{
    display: flex;
    justify-content: center;
    background-color: #222;
}


.navbar ul li a{
    display: flex;
    flex-direction: row;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-decoration: none;
    font-size: 130%;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
    &:hover{
        font-size: 26px;
    } 
} 


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}


li a{
    color:black;
    font-weight: bold;
}


.links_nav{
    padding-left: 120px;
    padding-right: 120px;
}


.noir_logo{
    height: auto;
    width: 80%;
    margin-top: 10px;
}

/* Fin del sector Navbar / Header */

/* -------------------------------------------------------- */